@{
    ViewBag.Title = "Confirm Email";
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h1>Email Confirmed</h1>
                <hr>
                <p>
                    Thank you for confirming your email. @Html.ActionLink("Please click here to login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>
