@model ASP.NET_Framework_MVC_Playground.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Phone Number";
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h1>Phone Number</h1>
                <small> <b>Currently only accepting numbers from Cyprus. <mark> No need to add the +357 prefix!</mark> </b> </small>
                <hr>
                @using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new {@class = "text-left", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Number, new { @class = "form-control", @placeholder = "Number" })
                    </div>
                    <button type="submit" class="btn btn-primary">Verify</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
