@model ASP.NET_Framework_MVC_Playground.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-12">
                <h1 class="text-left">Account Settings</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h2 class="text-left border-bottom pb-2"><b>Profile</b></h2>
            </div>
            <div class="mx-auto col-lg-6 col-10"></div>
        </div>
        <div class="row my-2">
            <div class="mx-auto col-lg-6 col-10">
                <h4 class="text-left">Phone Number</h4>
            </div>
            @if (Model.PhoneNumber != null)
            {
                <div class="mx-auto col-lg-3 col-10 text-left">
                    <a class="btn btn-primary m-1" href=@Url.Action("AddPhoneNumber","Manage")>Change Phone Number</a>
                </div>
                <div class="mx-auto col-lg-3 col-10 text-left">

                    @using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new
                    {
                        @class = "form-horizontal",
                        role = "form",
                    }))
                    {
                        @Html.AntiForgeryToken()
                        <button class="btn btn-danger m-1" type="submit">Remove Phone Number</button>
                    }
                </div>
            }
            else
            {
                <div class="mx-auto col-lg-6 col-10 text-left">
                    <a class="btn btn-primary m-1" href=@Url.Action("AddPhoneNumber","Manage")>Add Phone Number</a>
                </div> 
            }
        </div>
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h2 class="text-left border-bottom pb-2"><b>Security</b></h2>
            </div>
            <div class="mx-auto col-lg-6 col-10"></div>
        </div>
        <div class="row my-2">
            <div class="mx-auto col-lg-6 col-10">
                <h4 class="text-left">Password</h4>
            </div>
            <div class="mx-auto col-lg-6 col-10 text-left">
                @if (Model.HasPassword)
                {
                    <a class="btn btn-primary m-1" href=@Url.Action("ChangePassword","Manage")>Change Password</a>
                }
                else
                {
                    <a class="btn btn-primary m-1" href=@Url.Action("SetPassword","Manage")>Create Password</a>
                }
            </div>
        </div>
        <div class="row my-2">
            <div class="mx-auto col-lg-6 col-10">
                <h4 class="text-left">External Logins</h4>
            </div>
            <div class="mx-auto col-lg-6 col-10 text-left">
                <a class="btn btn-primary m-1" href=@Url.Action("ManageLogins","Manage")>Manage</a>
            </div>
        </div>
        <div class="row my-2">
            <div class="mx-auto col-lg-6 col-10">
                <h4 class="text-left">Two Factor Authentication</h4>
            </div>
            <div class="mx-auto my-auto col-lg-6 col-10 text-left">
                @if (Model.TwoFactor)
                {
                    using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", 
                                                                                                             role = "form",
                                                                                                             @id = "DisableTwoFactorAuthentication"}))
                    {
                        @Html.AntiForgeryToken()
                        <div class="custom-control custom-switch m-1">
                            <input type="checkbox" class="custom-control-input" id="2FA-Switch-Checked" checked>
                            <label class="custom-control-label text-success" for="2FA-Switch-Checked"><b>2FA Enabled</b></label>
                        </div>
                    }
                }
                else
                {
                    using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", 
                                                                                                            role = "form", 
                                                                                                            @id = "EnableTwoFactorAuthentication" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="custom-control custom-switch m-1">
                            <input type="checkbox" class="custom-control-input" id="2FA-Switch-Unchecked">
                            <label class="custom-control-label text-danger" for="2FA-Switch-Unchecked"><b>2FA Disabled</b></label>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/2FA.js")

}