
@{
    ViewBag.Title = "About";
}

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="px-5 col-md-8 text-center mx-auto">
                <h3 class="text-primary display-4"> <b>Welcome</b></h3>
                <h2 class="my-3">This is just a playground site where multiple ASP.NET Framework, Javascript and Bootstrap elements have been implemented as a way to get familiar with them.</h2>
                <p class="mb-3">Keep in mind the site might contain errors in logic, implementation or using outdated or insecured methodologies that were not evident to the developer when creating it.</p>
            </div>
        </div>
    </div>
</div>
