@model ASP.NET_Framework_MVC_Playground.Models.Data.Movie

@{
    ViewBag.Title = "Edit Movie Details";
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h1>Edit Movie Details</h1>
                <hr>

                @using (Html.BeginForm("EditMovieDetails", "Movies", FormMethod.Post, new { @class = "text-left", name = "editDetailsForm", id = "editDetailsForm" }))
                {
                    <div class="form-group">
                        <textarea id="TinyTextArea"></textarea>
                        <input type="hidden" name="MovieID" value=@Model.MovieID />
                        <input type="hidden" name="TinyMCE" id="TinyMCE" />
                        @Html.AntiForgeryToken()
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/tinyMCE.js")
    @{
        if (Model.TinyMCE != null)
        {
            <script>
                tinyTextArea(@Html.Raw(Json.Encode(Model.TinyMCE)));
            </script>
        }
        else
        {
            <script>
                tinyTextArea("Please add a very short description for <b> @Model.Movie_Name </b>");
            </script>
        }
    }
}

